* {
  margin: 0;
}

@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/georgia.woff") format("woff");
}

body {
  background: rgb(1, 47, 90);
  background: linear-gradient(90deg, rgba(1, 47, 90, 1) 18%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 67%, rgba(1, 47, 90, 1) 80%);
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Georgia Regular";
}

header {
  text-align: left;
  color: white;
  background-color: #111213;
  /* background-color: #2f2f2f; */
  padding: 30px;
}

header div {
  width: 400px;
}

#search_input {
  margin-left: calc(100% - 169px);
}

header h1 {
  font-weight: 400;
  font-size: 34px;
}

header span {
  color: #494949;
}

header p {
  text-align: justify;
  letter-spacing: 2px;
}

#splash_section {
  color: #a3a3a3;
  background-color: #111213;
  padding-bottom: 30px;
}

#splash_section h4 {
  text-align: left;
  font-weight: 400;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 24px;
  width: 50%;
}

#article_section {
  display: flex;
  flex-direction: row;
  background-color: white;
}

#article_section_col {
  flex-basis: 200px;
  flex-grow: 1;
}

#info_col {
  flex-basis: 100px;
  flex-grow: 0.2;
  background-color: #f3f3f3;
  padding: 20px;
  text-align: left;
}

#info_col h3 {
  padding: 10px 0;
}

article {
  display: flex;
  flex-direction: row;
  padding: 30px;
  text-align: left;
}

.article_img_col {
  flex-basis: 100px;
  flex-grow: 0.5;
  padding-right: 30px;
}

.article_text_col {
  flex-basis: 200px;
  flex-grow: 1;
  margin-top: 5px;
}

#article_section img {
  border: 5px solid #e9e9e9;
}

#article_section h3,
#article_section p {
  margin-bottom: 10px;
}

#article_section h3 {
  font-weight: 400;
}

#sponsors {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
}

/* .sponsor_div {
  max-width: 100px;
  height: 70px;
} */

#sponsors img {
  width: 120px;
  height: 70px;
  object-fit: contain;
  padding: 5px 10px;
  margin: 20px;
  border: 5px solid #e9e9e9;
  background-color: white;
}

footer {
  text-align: left;
  padding: 30px;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  flex-direction: row;
}

footer p {
  color: #6b6a6a;
}

footer .col {
  flex-basis: 100px;
  flex-grow: 1;
  margin: 30px;
}

footer h3 {
  font-weight: 400;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  #splash_section h4 {
    width: 90%;
  }
  #article_section {
    flex-direction: column;
  }
  #article_section_col {
    margin-bottom: 30px;
  }
  footer {
    flex-direction: column;
  }
  footer .col {
    margin: 0;
  }
  .col:nth-child(2) {
    margin-top: 30px;
  }
}

/* footer {
  display: block;
} */

img {
  width: 100%;
}
